export(valParamList)
export(doCoerce)
export(valClass)
export(valLength)
export(valDim)
export(valChoice)
export(valNames)
export(valArg)
exportClasses(CallSpec)
exportMethods(resolve)
exportClasses(MatchSpec)
export(MatchSpec)
export(doMatch)
export(nqMsg)
export(sqMsg)
export(dqMsg)
export(shorten)
export(invalid)
export(`%like%`)
export(`%LIKE%`)
export(na.rm)
export(`%LIKE%`)
export(trim)
export(argsToColnames)
export(colnamesToArgs)
export(hasNames)
export(emptyNamesFrom)
export(matchPairs)
export(expandClasses)
export(expandLogical)
export(customAttributes)
export(customAttrNames)
S3method(customAttrNames, default)
export(customAttributes)
export(`customAttributes<-`)
export(valIndex)
S3method(valIndex, default)
S3method(valIndex, logical)
S3method(valIndex, numeric)
S3method(valIndex, character)
